body {
	margin: 0;
}

.main {
	position: absolute;
	left: 40%;
	top: 40%;
}

.mainword {
	font-size: 80px;
	font-family: fangsong;
	color: red;
}

nav {
	/*宽度100%*/
	width: 100%;
	/*相对位置*/
	position: relative;
	/*漂移到左边*/
	float: left;
	/*边框样式：虚线，宽度为1*/
	border: dashed 1px;
	/*文字居中*/
	text-align: center;
	/*背景图片*/
	background: url(../img/head.png);
}


/*导航内部*/

ul {
	/*去掉导航条中间的小点*/
	list-style: none;
}


/*导航栏子菜单样式*/

nav li {
	position: relative;
	/*字体大小*/
	font-size: 20px;
	/*字体样式*/
	font-style: "Book Antiqua";
	/*导航子菜单单项漂移*/
	float: left;
	zoom: 1;
	/*高度自动*/
	height: auto;
}


/*导航子项中a链接的样式*/

nav li a {
	display: block;
	/*填充*/
	padding: 16px;
	/*字体颜色*/
	color: firebrick;
	/*去掉下划线*/
	text-decoration: none;
}

            /*初始化页面*/
            .CarouselBox {
                width: 800px;
                height: 300px;
                margin: 0px auto;
                overflow: hidden;   
            }
            /*设置放置轮播图的盒子*/
            .picture li {
                width: 800px;
                height: 600px;
                float: left;
                list-style: none;
            }
            /*对放置图片的li进行设置*/

            /*设置动画的主要属性*/
            .picture {
                width: 4000px;
                height: 400px;
                animation: myani 10s 0s alternate ease-in-out infinite;
                -ms-animation: myani 10s 0s alternate ease-in-out infinite;
                -moz-animation: myani 10s 0s alternate ease-in-out infinite;
                -webkit-animation: myani 10s 0s alternate ease-in-out infinite;

            }



            /* 对动画的关键帧进行设置*/
            @keyframes myani {
                0% {
                    margin-left: 0px;
                }
                20% {
                    margin-left: -800px;
                }
                40% {
                    margin-left: -1600px;
                }
                60% {
                    margin-left: -2400px;
                }
                80% {
                    margin-left: -3200px;
                }
                100% {
                    margin-left: -4000px;
                }
            }
            /*对动画的关键帧进行兼容处理*/
            @-webkit-keyframes myani {
                0% {
                    margin-left: 0px;
                }
                20% {
                    margin-left: -800px;
                }
                40% {
                    margin-left: -1600px;
                }
                60% {
                    margin-left: -2400px;
                }
                80% {
                    margin-left: -3200px;
                }
                100% {
                    margin-left: -4000px;
                }
            }

            @-moz-keyframes myani {
                0% {
                    margin-left: 0px;
                }
                20% {
                    margin-left: -800px;
                }
                40% {
                    margin-left: -1600px;
                }
                60% {
                    margin-left: -2400px;
                }
                80% {
                    margin-left: -3200px;
                }
                100% {
                    margin-left: -4000px;
                }
            }

            @-ms-keyframes myani {
                0% {
                    margin-left: 0px;
                }
                20% {
                    margin-left: -800px;
                }
                40% {
                    margin-left: -1600px;
                }
                60% {
                    margin-left: -2400px;
                }
                80% {
                    margin-left: -3200px;
                }
                100% {
                    margin-left: -4000px;
                }
            }